services:
  hugo:
    image: hugo-devcontainer:v${HUGO_VERSION}
    build: 
      context: .
      dockerfile: Dockerfile
      args:
        - VERSION=${HUGO_VERSION}
    volumes:
      - ..:/workspace/personal-blog
      - ~/.ssh:/home/vscode/.ssh
      - ~/.claude.json:/home/vscode/.claude.json
      - ~/.claude:/home/vscode/.claude
      - ~/.gemini:/home/vscode/.gemini
      - ~/.codex:/home/vscode/.codex
    ports:
      - 1313:1313
    command: /bin/sh -c "while sleep 1000; do :; done"
    user: vscode
