# This is a basic workflow to help you get started with Actions

name: Repo Mirroring

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "to-gitlab"
  repo-mirroring:
    strategy:
      matrix:
        repo_url: 
          - 'git@dev.s-ul.net:CXwudi/personal-blog-source.git'
          - 'git@e.coding.net:cxwudi/personl-blog-related/personal-blog-source.git'

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true  # Fetch Hugo themes (true OR recursive)
          fetch-depth: 0    # Fetch all history for .GitInfo and .Lastmod

      - uses: pixta-dev/repository-mirroring-action@v1
        with:
          target_repo_url: ${{ matrix.repo_url}}
          ssh_private_key: ${{ secrets.GITLAB_PRIVATE_SSH_KEY }} # <-- use 'secrets' to pass credential information.
